# Ignorar arquivos de ambiente
.env

# Ignorar cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar pastas de ambientes virtuais
venv/
.env/
.venv/

# Ignorar arquivos temporários
*.log
*.sqlite3

# Ignorar configurações do editor
.vscode/
.idea/
